  .form-container {
    background-color: #92daf6; 
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px auto;
    max-width: 400px;
    border-color: #0cd512;
  }
  
  .header {
    text-align: center;
    margin-bottom: 20px;
    color: #333333; 
  }
  
  .form-group {
    margin-bottom: 20px;
    margin-right: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    color: #333333; 
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
  }
  
  .error-message {
    color: #ff0000; 
    margin-top: 5px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #4caf50; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #eba52c; 
  }
  